@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}
a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}


/* /* /* /* logo */
#logobg{
	width: 100%;
	height: 100px;
	border-bottom: 2px #FF6700 solid;
	background-color: #fff;
}
.logo{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo h1{
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 45px;
}
.logo h1>img{
	width: 100%;
	height: 100%;
	display: block;
}
.logo div p:nth-of-type(1){
	line-height: 100px;
	height: 100px;
	font-size: 28px;
	display: inline-block;
	vertical-align: middle;
}
.logo div p:nth-of-type(1) span{
	font-size: 12px;
	color: #757575;
	margin-left: 15px;
}
.logo>p{
	height: 100px;
	color: #757575;
	display: inline-block;
	line-height: 100px;
	font-size: 12px;
	text-align: center;
	display: flex;
	align-items: center;
}
.logo>p span:nth-child(2){
	height: 40px;
	width: 80px;
	display: inline-block;
	line-height: 40px;
}
.logo>p span:nth-child(1){
	height: 40px;
	width: 110px;
	display: inline-block;
	line-height: 40px;
}


/* /* /* /* /* 表格 */
 table img{
	 width: 80px;
	 height: 80px;
	 vertical-align: middle;
 }
 table{
	 background-color: #fff;
	 width: 1266px;
	 height: auto;
	 margin: 38px auto;
	 text-align: center;
	 border-bottom: 40px;
 }
 table thead{
	height: 70px;
	line-height: 70px;
	position: relative;
 }
 table thead tr td:nth-child(1){
	 width: 70px;
 }
table thead tr td:nth-child(1) input::after{
	content: "全选";
	position: relative;
	left: 30px;
	display: inline-block;
	width: 48px;
}
 table tbody tr td{
	 height: 117px;
	 line-height: 117px;
	 width: auto;
	 border-top: 1px #e0e0e0 solid;
	 font-size: 16px;
 }

table input{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 20px;
	border: 1px;
}
tbody tr td:nth-child(5)>div{
	width: 148px;
	height: 38px;
	border: 1px #e0e0e0 solid;
	line-height: 38px;
	display: inline-block;
	vertical-align: middle;
}
tbody tr td:nth-child(5)>div span:nth-child(1),
tbody tr td:nth-child(5)>div span:nth-child(3)
{
	display: inline-block;
	height: 38px;
	width: 38px;
	text-align: center;
	float: left;
	transition: all 1s;
	cursor: pointer;
}

tbody tr td:nth-child(5)>div span:nth-child(1):hover{
	background-color: #e0e0e0;	
}
tbody tr td:nth-child(5)>div span:nth-child(3):hover{
	background-color: #e0e0e0;
}


tbody tr td:nth-child(5)>div span:nth-child(2){
	display: inline-block;
	width: 72px;
	height: 38px;
	float: left;
}
tbody tr td:nth-child(6){
	color: #FF6700;
}

/* /* /* /* /* 结算 */ 
.jiesuanbg{
	width: 100%;
	height: 50px;
	font-size: 14px;
}
.jiesuan{
	width: 1226px;
	height: 100%;
	line-height: 50px;
	margin: 0 auto;
	background-color: #fff;
	color: #757575;
}
.jiesuan i{
	font-style: normal;
	color: #FF6700;
}
.jiesuan span:nth-of-type(1){
	margin-left: 32px;
}
.jiesuan span:nth-of-type(2){
	margin-left: 16px;
}
.jiesuan div{
	float: right;
}
.pay{
	display: inline-block;
	width: 200px;
	margin-left: 70px;
	text-align: center;
	font-size: 18px;
	color: #b0b0b0;
	background-color: #e0e0e0;
} 
.jiesuan .paychen{
	background:#ff6700;
	color:#fff;
}
.jiesuan div span:nth-child(1){
	color: #FF7600;
	vertical-align: middle;
}
.heji{
	font-size: 28px;
}





/* /* /* /* /* 为你推荐 */ 
#tuijinbg{
	margin-top: 100px;
}
.tuijin{
	
	width: 1226px;
	height: auto;
	border-top: 1px solid #e0e0e0;
	position: relative;
	margin: 0 auto;
}
.tuijintou{
	height: 40px;
	width: 480px;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	background-color: #f5f5f5;
	top:-20px;
	right: 373px;
}
.box{
	width: 1226px;
	height: auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tuij1{
	width: 234px;
	height: 300px;
	text-align: center;
	font-size: 14px;
	background-color: #fff;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}
.tuij1 img{
	width: 140px;
	height: 140px;
	margin: 40px auto 20px;
}
.tuij1 p:nth-of-type(1){
	height: 18px;
	margin-bottom: 10px;
}
.tuij1 p:nth-of-type(2){
	color: #FF7600;
	margin-bottom: 10px;
}
.tuij1 p:nth-of-type(3){
	color: #757575;
	
}
.jiarugouwuche{
	width: 120px;
	height: 28px;
	border: 1px solid #FF7600;
	line-height: 28px;
	position: absolute;
	bottom: -30px;
	left: 56px;
	background-color: #fff;
	transition: all 0.5s;
}
.tuij1:hover .jiarugouwuche{
	
	bottom: 10px;
}


/* /* /* /* /* /* 购买成功 */
.goumaichgonbg{
	width: 100%;
	height: auto;
	display: none;
}
.goumaichgon{
	width: 1226px;
	margin: 0 auto;
	height: auto;
	text-align: center;
}
.goumaichgon h1{
	text-align: center;
}
h1 span{
	font-size: 14px;
}
h1 span a{
	color: #ff6700;
}




/* /* /* /* /* /* 购物车为空 */
.kongouwuchebg{
	width: 100%;
	height: auto;
	display: none;
}
.kongouwuche{
	text-align: center;
	width: 1226px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
}

/* /* /* /* /* 底部导航 */ 
.bottomMenubg{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	margin-top: 20px;
}
.bottomMenu{
	width: 1226px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.bottomMenu>ul{
	width: 100%;
	height: 80px;
	line-height: 80px;
	box-sizing: border-box;
	padding: 27px 0;
	border-bottom: #e0e0e0 1px solid;
}
.bottomMenu>ul>li{
	list-style: none;
	float: left;
	width: 244px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-right: 1px solid #e0e0e0;
	font-size: 16px;
}
.bottomMenu>ul>li>img{
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.bottomMenu>ul>li:nth-child(5){
	border-right: none;
}
.bottomMenu>ul>li:hover{
	color: #FF6700;
}


/* /* /* /* menubox */
.menubox{
	font-size: 14px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	box-sizing: border-box;
	padding: 40px 0;
}
.menubox>dl>dt{
	margin-bottom: 26px;
}
.menubox>dl>dd{
	font-size: 12px;
	margin-top: 10px;
}
.guanzhu{
	width: 253px;
	height: 110px;
	border-left: 1px #e0e0e0 solid;
	text-align: center;
}
.guanzhu>p:nth-of-type(1){
	font-size: 22px;
	color: #FF6700;
	margin-bottom: 5px;
}
.guanzhu>p:nth-of-type(2){
	font-size: 12px;
	margin-bottom: 5px;
}
.guanzhu>div{
	width: 125px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: #FF6700 1px solid;
	color: #FF6700;
	margin: 0 auto;
}
.guanzhu>p:nth-of-type(3){
	margin-top: 10px;
}

/* /* /* /* /* 底部说明 */
.footbg{
	width: 100%;
	height: auto;
	background-color: #fff;
}
.foot{
	margin: 0 auto;
	width: 1226px;
	height: auto;
	font-size: 12px;
}
.foot .logo{
	background: url('../img/logo-mi2.png');
	width: 56px;
	height: 56px;
	background-size: 100%;
	float: left;
}
.text{
	margin-left: 67px;
	width: auto;
	height: auto;
}
.text a:hover{
	color: #FF6700;
}
.text p{
	line-height: 18px;
}
.text p:nth-of-type(1) a{
	color: #757575;
}
.pColor{
	color: #b0b0b0;
}
.pColor a{
	color: #b0b0b0;
}
.text img{
	height: 28px;
	margin-right: 5px;
	margin-top: 10px;
}
.meihao{
	width: 1226px;
	text-align: center;
	margin-top: 30px;
}
.swiper-pagination span{
	width: 40px;
	height: 2px;
	border-radius: 0;
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 1.5em !important;
	font-weight: 600;
}